<p style="color: green"><%= notice %></p>

<h1>Friends</h1>

<div id="friends">
  <table class="table table-striped">
    <thead class="table-dark">
      <tr>
        <th scope="col">Email</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Phone</th>
        <th scope="col">Twitter</th>
        <th scope="col">Inspect</th>
        <th scope="col">Edit</th>
      </tr>
    </thead>
    <tbody>
      <% @friends.each do |friend| %>
        <%= render friend %>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "New Friend", new_friend_path, class: "btn btn-success" %>
