<% if user_signed_in? %>
<h1>Friends</h1>

<div id="friends">
  <table class="table table-striped">
    <thead class="table-dark">
      <tr>
        <th scope="col">Email</th>
        <th scope="col">Name</th>
        <th scope="col">Phone</th>
        <th scope="col">Twitter</th>
        <th scope="col">Edit</th>
      </tr>
    </thead>
    <tbody>
      <% @friends.each do |friend| %>

        <% if friend.user == current_user %>
          <%= render friend %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "New Friend", new_friend_path, class: "btn btn-success" %>
<% else %>
  <h1>Sign up now!</h1>
  <p>Create an account now to start tracking your friends!</p>
<% end %>

