<%= render @friend %>

<div>
    <div class="mb-2">
        <%= link_to "Edit Friend", edit_friend_path(@friend), class: "btn btn-warning text-white" %> |
        <%= link_to "Back to Friends", friends_path, class: "btn btn-dark" %>
    </div>

    <%= button_to "Delete Friend", @friend, method: :delete, class: "btn btn-danger" %>
</div>
